# Reduce EAS archive size in monorepo context
uploads/
../uploads/
../../uploads/
.delivery-venv/
../.delivery-venv/
../../.delivery-venv/
.venv/
../.venv/
../../.venv/
TestResults/
../TestResults/
../../TestResults/
